apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-collector-config
data:
  otel-collector-config.yaml: |
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
          http:
            endpoint: 0.0.0.0:4318

    exporters:
      debug:
        verbosity: detailed
      
      otlphttp:
        endpoint: http://tinyolly-otlp-receiver:5003
        encoding: json
        compression: none

    service:
      pipelines:
        traces:
          receivers: [otlp]
          exporters: [debug, otlphttp]
        metrics:
          receivers: [otlp]
          exporters: [debug, otlphttp]
        logs:
          receivers: [otlp]
          exporters: [debug, otlphttp]
